@import url(https://fonts.bunny.net/css?family=courier-prime:400,400i,700,700i|spline-sans-mono:400,400i,700,700i);

:root {
	--text: #444;
	--notch: 30px;
	--linkHover: #c44f69;
}

* {scrollbar-color:var(--text);scrollbar-width:thin;}

body {
	background:url('/assets/bg-pattern.jpg'), url('/assets/bg-static.jpg');
	background-blend-mode: overlay;
    background-size:cover;
	font-family:'spline sans mono', sans-serif;
	padding:1.5em 3em 3em 3em;
}

h1, h2, h3 {
    font-family:'spline sans mono', sans-serif;
    text-transform:uppercase;
    color:var(--text);
}
h1 {font-size:3em;}
h2 {
    font-size:2em;
    margin-bottom:.5em;
}

a {text-decoration:none;transition: all .6s ease-in-out;}
a:hover {color: var(--linkHover);}

#members_list {
	font-family: 'courier prime', monospace;
	border:2px solid #444;
	width:50%;
	backdrop-filter:blur(10px);
	clip-path: 
    polygon(
      0% var(--notch), 
      var(--notch) 0%, 
      calc(100% - var(--notch)) 0%, 
      100% 0px, 
      100% calc(100% - var(--notch)), 
      calc(100% - var(--notch)) 100%, 
      0px 100%, 
      0% calc(100% - var(--notch))
    );}
#members_list a {text-decoration:underline;}
li {
    margin-bottom: 0.5em;
}

/* CODE SNIPPETS */
.language-html.highlighter-rouge, .language-plaintext.highlighter-rouge {
	background:rgba(0,0,0,.8);
	backdrop-filter:blur(10px);
	clip-path:polygon(
      0% var(--notch), 
      var(--notch) 0%, 
      calc(100% - var(--notch)) 0%, 
      100% 0px, 
      100% calc(100% - var(--notch)), 
      calc(100% - var(--notch)) 100%, 
      0px 100%, 
      0% calc(100% - var(--notch))
    );
	color:#fff;
	padding:.1em;
	overflow:auto;
}
.language-plaintext.highlighter-rouge {clip-path:unset;padding:0 .25em;}

footer {font-variant: all-petite-caps;display:flex;justify-content:space-evenly;font-family:'spline sans mono', monospace;}

